@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ebf9fe;
  --color-primaryText: #23a9eb;
  --color-secondary: #fcf8ca;
  --color-secondaryText: #e98e34;
  --color-synced: #f0f9eb;
  --color-syncedText: #01a151;
  --color-notSynced: #eaeaea;
  --color-notSyncedText: #838580;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #546661;
  font-family: Arial, Helvetica, sans-serif;
}
